@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.background {
  background-image:
    linear-gradient(rgba(86, 236, 241, 0.865), rgba(96, 99, 135, 0.93)),
    url("../../assets/yacht-background-r.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.showcase {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.head-form {
  font-family: 'Lato', sans-serif;
  letter-spacing: 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  appearance: none !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.city-input {
  margin-left: 25px;
  margin-right: 25px;
}

@media only screen and (max-width: 1000px) {
  .city-input {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  select {
    margin-top: 20px;
  }
}
