body {
  margin: 0;
  padding: 0;
}

.background {
  background-image:
    linear-gradient(rgba(86, 236, 241, 0.865), rgba(96, 99, 135, 0.93)),
    url("../../assets/yacht-background-r.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 1000px) {
  
  .logo {
    display: none;
  }
}
